{% extends "index.html" %}

{% block header %}
<div class="col-md-3 register-left">
    <!-- <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/> -->
    <h3>Welcome</h3>
    <p>This dataset is manually collected from observations. It helps us to build machine learning models to predict the quality of milk. Generally, the Grade or Quality of the milk depends on these parameters. These parameters play a vital role in the predictive analysis of the milk. <a href="{{url_for('more')}}">more</a></p>
</div>
{% endblock %}

{% block content %}
<div class="data">
    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="{{url_for('preview')}}" role="tab" aria-controls="home" aria-selected="true">Dataset</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="{{url_for('index')}}" role="tab" aria-controls="home" aria-selected="true">Back</a>
        </li>
    </ul>
    <br><br>
    <div class="container dataset">
        {{ df_view.to_html(classes="table striped", na_rep="-") | safe}}
    </div>
</div>

{% endblock %}